:root {
  /*colors*/
  --text: #ffffff;
  --accents: ##76777b;
  --highlights: #cc0000;
  --black: #222222;

  /*fonts*/
  --titleFont: "InterDisplay";
  --serifFont: "Lato";
  --fontSize: 2rem !important;
}

html {
  font-family: var(--serifFont), -system-ui, system-ui, sans-serif;
  color: var(--black);
}

h1 {
  font-family: var(--titleFont), "Raleway", "HelveticaNeue", "Helvetica Neue";
  font-size: 2.75rem;
  font-weight: bold;
  margin: auto 0;
  text-align: center;
}

nav {
  background-color: var(--highlights);
  color: var(--text);
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

nav a {
  color: var(--text);
  text-decoration: none;
  opacity: 0.85;
  text-align: center;
  font-size: var(--fontSize);
}

.logo {
  height: auto;
  width: auto;
  max-height: 72px;
  max-width: 250px;
}
