:root {
  /*colors*/
  --text: #ffffff;
  --accents: ##76777b;
  --highlights: #cc0000;
  --black: #222222;

  /*fonts*/
  --titleFont: "InterDisplay";
  --serifFont: "Lato";
  --fontSize: 2rem !important;
}

html {
  font-family: var(--serifFont), -system-ui, system-ui, sans-serif;
  color: var(--black);
}

h1 {
  font-family: var(--titleFont), "Raleway", "HelveticaNeue", "Helvetica Neue";
  font-size: 2.75rem;
  font-weight: bold;
  margin: auto 0;
  text-align: center;
}

nav {
  background-color: var(--highlights);
  color: var(--text);
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

nav a {
  color: var(--text);
  text-decoration: none;
  opacity: 0.85;
  text-align: center;
  font-size: var(--fontSize);
}

.logo {
  height: auto;
  width: auto;
  max-height: 72px;
  max-width: 250px;
}


#form {
  background: rgba(0, 0, 0, 0.15);
  padding: 0.25rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 3rem;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
}
#input {
  border: none;
  padding: 0 1rem;
  flex-grow: 1;
  border-radius: 2rem;
  margin: 0.25rem;
}
#input:focus {
  outline: none;
}
#form > button {
  background: #333;
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#messages > li {
  padding: 0.5rem 1rem;
}
#messages > li:nth-child(odd) {
  background: #efefef;
}
