.menBar {
  width: 55px;
  height; 10px;
  background-color: black;
  margin: 8px 0;
}

.barElement{
  width: 150px;
  float: left;
  height: 40px;
  margin: 15px;
  background-color: grey;
}

#bar{
  width: 900px;
  height: 90px;
  float: left;
  background-color: red;
}

#navDefault{
  float: left;
}

#tempLogo{
  height: 50px;
}

#carouselBox{
  margin-top: 25px;
  height: 200px;
  background-color: grey;
}

#secondBox{
  height: 200px;
  background-color: grey;
}

#thirdBox{
  height: 200px;
  background-color: grey;
}

#contentOne{
  background-color: white;
  height: 180px;
  border-style: solid;
}

#contentTwo{
  background-color: white;
  height: 180px;
  border-style: solid;
}

#contentThree{
  background-color: white;
  height: 180px;
  border-style: solid;
   
}
