<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="google-site-verification" content="cA572Q0bvFJzI7FwL0qH4o5Lu1UbVgGnN5SK424g0zU" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <title>Tutor App</title>
</head>

<body>
    <%- include('nav.ejs') %>

        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <iframe height="1000"
                    src="https://datastudio.google.com/embed/reporting/f6f80816-a403-4e41-9cef-59185f89973b/page/HDQ0B"
                    frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </section>
</body>