<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="google-site-verification" content="cA572Q0bvFJzI7FwL0qH4o5Lu1UbVgGnN5SK424g0zU" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <title>Tutor App</title>
</head>

<body>
    <%- include('nav.ejs') %>
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <img id="tutoring" class="img-fluid rounded" src="tutoring.jpg" alt="tutoring">
                    <p class="lead text-muted">Find your tutor!</p>


                    <a class="btn btn-danger" href="/chat">Start Chatting with Students/Tutors.</a>
                    <a href="/meet" class="btn btn-secondary my-2">Find a tutor now!</a>
                </div>
            </div>
        </section>

        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2>Looking for a tutor?</h2>
                    <p>Hard to schedule a meeting with a tutor?</p>
                    <p>We can help you find a tutor for your class!</p>

                    <a href="/meet">Find a time that works for you!</a>
                </div>


                <div class="col-md-8">
                    <h2>Tutoring schedule</h2>
                    <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23D50000&ctz=America%2FChicago&showTitle=0&src=OTR2bHYwdmZhcTVxMnY5b3FsZGoxdm1xMTBAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&color=%23EF6C00&color=%230B8043" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
                </div>
            </div>
        </div>
</body>

</html>