<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="style.css">
    <title>Tutor App</title>
</head>

<body>
    <div id="bar">
      <div class="barElement">
        <img id="tempLogo" src="iitTutors.jpg" alt="Temp Logo">
      </div>
      <div class="barElement">
        <div>
          <img src="profileFigure.jpg" alt="Profile Figure">
        </div>
      </div>
      <div class="barElement">
        <div id="userName">
          User Name
        </div>
      </div>
      <div class="barElement">
        <div class="menBar">...</div>
        <div class="menBar">...</div>
        <div class="menBar">...</div>
      </div>
    </div>

    <div id="carouselBox">
      <h2>Title: Current class or carousel</h2>
      <div id="contentOne"> Content Box</div>
    </div>

    <div id="secondBox">
      <h2>Title:Current specific issue</h1>
      <div id="contentTwo"> Content Box</div>
    </div>

    <div id="thirdBox">
      <h2>Title: Chat or communication options</h2>
      <div id="contentThree"> Content Box</div>
    </div>

    <!--<nav id="navDefault">
        <div class="imagediv">
            <img src="tech-white.png" alt="logo" class="logo">
        </div>
        <h1>Tutor App</h1>
        <a>Hello, User200!</a>
    </nav>

    <a>
        Chat with your tutor!
        Coming Soon!
    </a>-->
</body>

</html>
