<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta name="google-site-verification" content="cA572Q0bvFJzI7FwL0qH4o5Lu1UbVgGnN5SK424g0zU" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <title>Tutor App</title>
</head>

<body>
    <%- include('nav.ejs') %>
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <img class="img-fluid rounded bg-black" src="tech-white.png" alt="">
                    <p class="lead text-muted">Chat with your tutor!
                        Coming Soon!</p>


                    <a class="btn btn-danger" href="/chat">Get tutoring session started.</a>
                    <a href="/wiki" class="btn btn-secondary my-2">Check out our Wiki page.</a>
                </div>
            </div>
        </section>

        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img id="tutoring" class="img-fluid rounded" src="tutoring.jpg" alt="tutoring">
                    <h2>Looking for a tutor?</h2>
                    <p>Hard to schedule a meeting with a tutor?</p>
                </div>

                <div class="col-md-4">
                    <form id="form" action="">
                        <input id="input" autocomplete="off" /><button>Send</button>
                    </form>

                    <div class="list-group list-group-flush border-bottom scrollarea">
                        <ul id="messages"></ul>
                    </div>

                    <script src="/socket.io/socket.io.js"></script>

                    <script>
                        var socket = io();

                        var messages = document.getElementById('messages');
                        var form = document.getElementById('form');
                        var input = document.getElementById('input');

                        form.addEventListener('submit', function (e) {
                            e.preventDefault();
                            if (input.value) {
                                socket.emit('chat message', input.value);
                                input.value = '';
                            }
                        });

                        socket.on('chat message', function (msg) {
                            var item = document.createElement('li');
                            item.textContent = msg;
                            messages.appendChild(item);
                            window.scrollTo(0, document.body.scrollHeight);
                        });
                    </script>

                </div>

                <div class="col-md-4">
                    <img id="schedule" class="img-fluid rounded" src="schedule.jpg" alt="tutoring">
                    <h2>Hours</h2>
                    <p>
                        TBD
                    </p>
                </div>
            </div>
        </div>
</body>

</html> -->