<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="indexejs.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <meta name="google-site-verification" content="cA572Q0bvFJzI7FwL0qH4o5Lu1UbVgGnN5SK424g0zU" />
    <title>Tutor App</title>
</head>

<body>
    <%- include('nav.ejs') %>
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <img class="img-fluid rounded bg-black" src="tech-white.png" alt="">
                <p class="lead text-muted">Chat with your tutor!
                    Coming Soon!</p>


                <a class="btn btn-danger" href="/chat">Get tutoring session started.</a>
                <a href="/wiki" class="btn btn-secondary my-2">Check out our Wiki page.</a>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img id="tutoring" src="tutoring.jpg" alt="tutoring">
                <h2>Looking for a tutor?</h2>
                <p>Hard to schedule a meeting with a tutor?</p>
            </div>

            <div class="col-md-4">
              Some sort of content

            </div>

            <div class="col-md-4">
                <img id="schedule"src="schedule.jpg" alt="tutoring">
                <h2>Hours</h2>
                <p>
                    TBD
                </p>
            </div>
        </div>
    </div>
</body>

</html>
