<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="main.css">
    <title>Tutor App</title>
</head>

<body>
    <nav>
        <div class="imagediv">
            <img src="tech-white.png" alt="logo" class="logo">
        </div>
        <h1>Tutor App</h1>
        <a>Hello, User!</a>
    </nav>

    <a>
        Chat with your tutor!
        Coming Soon!
    </a>
</body>

</html>