<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="style.css">
    <title>Tutor App Landing</title>
</head>

<body>
  <div class="sectionOne">
    1
      <img id="logoLandingImage" src="iitTutors.jpg" alt="Temp Logo">
  </div>

  <div class="sectionTwo">
    2
    <div>
      <p>
 Short paragraph about servicecample of text and more text. woeifuiou. weiuoiuoiurw
 more text. werioweioihf. weorihfoim.
      </p>
    </div>
    <div>
      <button type="button">Sign Up!</button>
    </div>
  </div>

  <div class="sectionThree">
    3
    <div id="left">
      Feature 1, Get help quickly
    </div>
    <div id="center">
      Feature2, direct mssg tutors
    </div>
    <div id="right">
      Feature 3, Live Date Availability
    </div>
  </div>

</body>

</html>
