<nav class="navbar navbar-expand-md">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a class="navbar-brand" href="/home"> <img src="tech-white.png" alt="logo" class="logo"></a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 text-white">Home</a></li>
                <li><a href="/wiki" class="nav-link px-2 text-white">Wiki</a></li>
                <li><a href="/data" class="nav-link px-2 text-white">Data</a></li>
                <li><a href="/meet" class="nav-link px-2 text-white">Meet</a></li>
                <li><a href="/cal" class="nav-link px-2 text-white">Calendar</a></li>
            </ul>

        </div>
        <div class="d-flex justify-content-end">
            <% if(currentUser != null) { %>
                <a id ="userName" class="nav-link px-2 text-white" href="/profile"><%= currentUser.First_Name %> <%= currentUser.Last_Name %></a>
                <a class="nav-link px-2 text-white" href="/logout">Logout</a>
            <%}%>
            <% if(currentUser == null) { %>
                <a class="nav-link px-2 text-white" href="/signin">Sign In</a>
            <%}%>
        </div>
    </div>
</nav>
